* {
    background-color: rgb(196, 154, 63);
}

header {
    background-color: rgb(212, 236, 101)
}

article {
    background-color: #ccc;
}

footer {
    text-align: center;
}

form {
    text-align: center;
    width: -50px;
}

fieldset {
    width: -100%;
}

section {
    text-align: center;
}

header h2 {
    padding: 50px
}

header h1 {
    padding: 30px 
}